<!DOCTYPE html>
<html>
  <head>
    <title>Orsupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <ul>
        <li> <%= link_to "SDC3" %></li>
        <li> <%= link_to "Camera Box" %></li>
        <li> <%= link_to "Light Source" %></li>
        <li> <%= link_to "Insaflator" %></li>
        <li> <%= link_to "Monitors" %></li>
        <li> <%= link_to "Helpful Links" %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
