<!DOCTYPE html>
<html>
  <head>
    <title>Orsupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <% Category.all.each do |category| %>
      <ul>
        <li> <%= link_to category.name, category_path(category) %></li>
      </ul>
      <% end %>
      <p class="sign_in"> <%= link_to "Admin login"%></p><br>
    </div>
      <div id="main_content">
        <div id="header">
          <p> <%= link_to 'Home', issues_path %></p>
          <p> <%= link_to 'SOW' %></p>
          <div class="buttons">
            <button class="button"> <%= link_to "New Issue", new_issue_path %></button>
          </div>
        </div>

        <div class="container">
          <%= yield %>
        </div>

      </div>
  </body>
</html>
