<!DOCTYPE html>
<html>
  <head>
    <title>Orsupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <ul>
        <li> <%= link_to "SDC3" %></li>
        <li> <%= link_to "Camera Box" %></li>
        <li> <%= link_to "Light Source" %></li>
        <li> <%= link_to "Insaflator" %></li>
        <li> <%= link_to "Monitors" %></li>
        <li> <%= link_to "Helpful Links" %></li>
      </ul>
      <p class="sign_in">Admin login</p>
    </div>

      <div id="main_content">
        <div id="header">
          <p>All Posts</p>
          <div class="buttons">
            <button class="button"> <%= link_to "New Post", new_issue_path %></button>
          </div>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
