<!DOCTYPE html>
<html>
  <head>
    <title>Orsupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="sidebar">
        <% if logged_in? %>
          <% Category.all.each do |category| %>
            <ul>
              <li> <%= link_to category.name, category_path(category) %></li>
            </ul>
            <% end %>
          <% else %>
            <% Category.all.each do |category| %>
              <ul>
                <li> <%= category.name %></li>
              </ul>
          <% end %>
        <% end %>
      <div>
        <p class="sign_in"> <%= link_to "Admin login"%></p>
      </div>
    </div>
      <div id="main_content">
        <div id="header">
          <p> <%= link_to 'Home', issues_path %></p>
          <p> <%= link_to 'SOW' %></p>
          <p>(877)478-7953</p>
          <div class="buttons">
            <% if logged_in?%>
            <button class="button"> <%= link_to "New Issue", new_issue_path %></button>
            <button class="button"> <%= link_to "LogOut", logout_path %></button>
              <% else %>
              <button class="button"> <%= link_to "SignUp", new_user_path %></button>
              <button class="button"> <%= link_to "Login", login_path %></button>
            <% end %>
          </div>
        </div>

        <div class="container">
          <%= yield %>
        </div>

      </div>
  </body>
</html>
